{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/mrdoob/three.js/master/build/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js"></script>
    <script src="{% static 'jsgl/clientview.js' %}"></script>
    <script src="{% static 'js/keyboardcontrol.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
</head>
<body>

    <script>
        $(document).ready(function(){
           //código a ejecutar cuando el DOM está listo para recibir instrucciones.
            props={{ props | safe }};
            MAPA={{ map }};
            FN_LEFT=RotateLeft;
            FN_RIGHT=RotateRight;
            FN_UP=MoveFW;
            FN_DOWN=MoveBW;

            var loader = new THREE.TextureLoader();
            loader.load('{% static "textures/wall1.png" %}', function ( texture ) {
                texture.magFilter=THREE.NearestFilter;
                texture.minFilter=THREE.NearestFilter;
                TEXTURES["WALL1"]=texture;
            });
            var loader = new THREE.TextureLoader();
            loader.load('{% static "textures/floor1.png" %}', function ( texture ) {
                texture.magFilter=THREE.NearestFilter;
                texture.minFilter=THREE.NearestFilter;
                TEXTURES["FLOOR1"]=texture;
            });
            THREE.DefaultLoadingManager.onLoad = function ( ) {
                PreInit();
            };

        });
        function PreInit() {

            init();
            animate();
        }

    </script>
</body>
</html>