.Tile {
    width: 30px;
    height: 30px;
    border: 1px solid orange;
    position: absolute;
}
.TileBase {
    width: 30px;
    height: 30px;
    position: absolute;
    background-size: cover;
}
.Tile:hover {
    cursor: pointer;
}
.Tile_Block {
    background-color: #1a1a1a;
}
.Tile_Grass {
    background-color: #1c7430;
}
.TileSelected {
    border: 3px solid orange !important;
}
.Pallete {
    width: 30px;
    height: 30px;
    border: 1px solid orange;
    background-size: cover;
    /*position: absolute;*/
}
.Pallete:hover {
    cursor: pointer;
}

