.SpaceMin-400{
    min-height: 400px;
}
.Space-600{
    height: 600px;
}
.Space-500{
    height: 500px;
}
.Space-400{
    height: 400px;
}
.Space-300{
    height: 300px;
}
.Space-200{
    height: 200px;
}
.Space-100{
    height: 100px;
}
.Space-50{
    height: 50px;
}
.Space-25{
    height: 25px;
}
.Space-20{
    height: 20px;
}
.Space-10{
    height: 10px;
}
.Space-400{
    height: 400px;
}