{% load staticfiles %}
{% load world_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/editor.css" %}">
    <link rel="stylesheet" href="{% static "css/spaces.css" %}">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="card">
                <div class="card-body">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownLoadMapa" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Load Map
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownLoadMapa">
                          {% for mapa in mapsList %}
                                <a class="dropdown-item" href="javascript:loadMapaData({{ mapa.pk }})">{{ mapa.mapName }}</a>
                          {% endfor %}
                      </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <button type="button" class="btn btn-primary float-right" onclick="createMap()">Create</button>
                    <input type="text" class="form-control w-75" id="NewMapName" placeholder="Name for New Map">

                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <div class="dropdown">
                          <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownLoadMapa" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Layer To Edit
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownLoadMapa">
                              <a class="dropdown-item" href="javascript:selectLayer(0)">Walkables</a>
                              <a class="dropdown-item" href="javascript:selectLayer(1)">Solid
                              <a class="dropdown-item" href="javascript:selectLayer(2)">Ceil</a>
                          </div>

                        </div>
                        &nbsp;<span id="LayerEditingLabel" class="alert-danger">Walkables</span> &nbsp;&nbsp;
                        <input class="checkbox-rowt" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                        View Solids
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">

            <div class="card" id="ToolsWalkables">
                <div class="card-body">

                    <!--div id="brush0" class="Tile Tile_Block TileSelected" style="left: 10px" onclick="selectBrush(0)"></div>
                    <div id="brush1" class="Tile Tile_Grass" style="left: 50px" onclick="selectBrush(1)"></div-->

                    Walkables
                    <div class="Space-10"></div>
                    {% for wlkbl in walkables %}
                        <!--div id="brush1" class="Tile" style="left: 50px; background-color: {{ wlkbl.colorId }}" onclick="selectBrush(1)"></div-->
                        <div class="row">
                            <div id="walkable_brush{{ wlkbl.pk }}" class="Pallete" style="background-color: {{ wlkbl.colorId }}" onclick="selectWalkable({{ wlkbl.pk }})">
                            </div>
                            &nbsp;<small>{{ wlkbl.name }}</small>
                        </div>
                        <div class="Space-10"></div>
                    {% endfor %}

                    <p></p>
                </div>
            </div>
            <div class="card" id="ToolsSolids" style="display: none">
                <div class="card-body">
                    Solids
                    <div class="Space-10"></div>
                    <div class="row">
                        <div id="solid_brush0" class="Pallete" style="background-color: black" onclick="selectSolid(0)">
                        </div>
                        &nbsp;<small>Erase</small>
                    </div>
                    {% for sld in solids %}
                        {% if sld.type != "CEIL" %}
                        <div class="row">
                            <div id="solid_brush{{ sld.pk }}" class="Pallete" style="background-image: URL('{{ sld.imgBase.url }}')" onclick="selectSolid({{ sld.pk }})">
                            </div>
                            &nbsp;<small>{{ sld.name }}</small>
                        </div>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
            <div class="card" id="ToolsSolidsCeil" style="display: none">
                <div class="card-body">
                    Solids
                    <div class="Space-10"></div>
                    <div class="row">
                        <div id="solidceil_brush0" class="Pallete" style="background-color: black" onclick="selectSolidCeil(0)">
                        </div>
                        &nbsp;<small>Erase</small>
                    </div>
                    {% for sld in solids %}
                        {% if sld.type == "CEIL" %}
                        <div class="row">
                            <div id="solidceil_brush{{ sld.pk }}" class="Pallete" style="background-image: URL('{{ sld.imgBase.url }}')" onclick="selectSolidCeil({{ sld.pk }})">
                            </div>
                            &nbsp;<small>{{ sld.name }}</small>
                        </div>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
            <div class="Space-25"></div>
            <button type="button" class="btn btn-primary" onclick="saveMap()">Save</button>
            <div class="Space-25"></div>
            <div class="card">
                <div class="card-body">
                    <form id="BuilderForm">
                        <div class="form-group">
                            <label for="sizeX">Size X</label>
                            <input type="number" class="form-control" id="sizeX" aria-describedby="sizeXHelp" placeholder="Enter X" value="23">
                            <small id="sizeXHelp" class="form-text text-muted">X Size</small>
                        </div>
                        <div class="form-group">
                            <label for="sizeY">Size Y</label>
                            <input type="number" class="form-control" id="sizeY" aria-describedby="sizeYHelp" placeholder="Enter Y" value="23">
                            <small id="sizeYHelp" class="form-text text-muted">Y Size</small>
                        </div>
                        <button type="submit" class="btn btn-primary">Build</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-10">
            <div id="MapHolder_Walkables" style="overflow:scroll;width: 100%;height: 100vh">
            </div>
            <div id="MapHolder_Solidos" style="overflow:scroll;width: 100%;height: 100vh; opacity: 0.3">
            </div>
            <div id="MapHolder_SolidosCeil" style="overflow:scroll;width: 100%;height: 100vh; opacity: 0.3">
            </div>
            <div id="MapHolder" style="overflow:scroll;width: 100%;height: 100vh">
                {% comment %}
                {% for y in 'yyyyyyyyyyy' %}
                    {% for x in 'xxxxxxxxxxxxx' %}
                        <div id="tile-{{ forloop.counter0 }}-{{ forloop.parentloop.counter0 }}" class="Tile" style="
                                    left: {{ forloop.counter0|multiply:30}}px;
                                    top: {{ forloop.parentloop.counter0|multiply:30}}px;"
                                    onclick="clickOn({{ forloop.counter0 }},{{ forloop.parentloop.counter0 }})">
                        </div>
                    {% endfor %}
                {% endfor %}
                {% endcomment %}
            </div>
        </div>
    </div>
</div>




<!--script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<script>
    var mapa= [];
    var CURRENT_PK=-1;
    var CURRENT_NAME="";
    var CURRENT_MAPA_SOLIDS=[];
    var CURRENT_MAPA_CEIL=[];
    var STATUS = "DISABLED";
    var WALKABLES_COLORS = {};//"{{walkables}}";
    var SelectedWalkable = 0;
    var SelectedSolid = -1;
    var SelectedCeil = -1;
    var SelectedLayer = 0;
    var SOLIDS_URLS = {}


    {% for wlk in walkables %}
        WALKABLES_COLORS['{{ wlk.pk }}']={
            'colorId':"{{ wlk.colorId }}"
        };
    {% endfor %}

    {% for sld in solids %}
        SOLIDS_URLS['{{ sld.pk }}'] = {
            'url':"{{ sld.imgBase.url }}"
        };
    {% endfor %}
    console.log(WALKABLES_COLORS);

    $( "#BuilderForm" ).submit(function( event ) {
        if(STATUS=="DISABLED"){
            return;
        }
        //data = $("#BuilderForm").serializeArray();
        //alert($("#BuilderForm #sizeX").valueOf())
        var sizeX = $("#BuilderForm #sizeX").val();
        var sizeY = $("#BuilderForm #sizeY").val();
        buildMap(sizeX,sizeY)
        //alert( "Size:" + data.sizeX + "," +data.sizeY );
        event.preventDefault();
    });


    function selectLayer(lay) {
        SelectedLayer=lay;
        if(lay==0){
            $('#LayerEditingLabel').text("Walkable");
            $("#MapHolder_Walkables").css('opacity',1);
            $("#MapHolder_Solidos").css('opacity',0.3);
            $("#MapHolder_SolidosCeil").css('opacity',0.3);
            $("#ToolsSolids").css('display','none');
            $("#ToolsSolidsCeil").css('display','none');
            $("#ToolsWalkables").css('display','');
        }else if(lay==1){
            $('#LayerEditingLabel').text("Solids");
            $("#MapHolder_Walkables").css('opacity',0.3);
            $("#MapHolder_SolidosCeil").css('opacity',0.3);
            $("#MapHolder_Solidos").css('opacity',1);
            $("#ToolsSolids").css('display',"");
            $("#ToolsWalkables").css('display','none');
            $("#ToolsSolidsCeil").css('display','none');
        }else if(lay==2){
            $('#LayerEditingLabel').text("Ceil");
            $("#MapHolder_Walkables").css('opacity',0.3);
            $("#MapHolder_SolidosCeil").css('opacity',1);
            $("#MapHolder_Solidos").css('opacity',0.3);
            $("#ToolsSolids").css('display',"none");
            $("#ToolsWalkables").css('display','none');
            $("#ToolsSolidsCeil").css('display','');
        }
    }
    function clickOn(x,y) {
        if(SelectedLayer==0){
            mapa[y][x]=SelectedWalkable;
            $('#tileWalkable-'+x+'-'+y).css('background-color', WALKABLES_COLORS[SelectedWalkable+1].colorId);
        }else if(SelectedLayer==1){
            //console.log(SelectedSolid +":" + SOLIDS_URLS[SelectedSolid+1].url);
            CURRENT_MAPA_SOLIDS[y][x]=SelectedSolid;
            if(SelectedSolid==-1){
                $('#tileSolid-' + x + '-' + y).css('background-image','none');
            }else {
                $('#tileSolid-' + x + '-' + y).css('background-image', 'url(' + SOLIDS_URLS[SelectedSolid + 1].url + ')');
            }
        }else if(SelectedLayer==2){
            CURRENT_MAPA_CEIL[y][x]=SelectedCeil;
            if(SelectedCeil==-1){
                $('#tileSolidCeil-' + x + '-' + y).css('background-image','none');
            }else {
                $('#tileSolidCeil-' + x + '-' + y).css('background-image', 'url(' + SOLIDS_URLS[SelectedCeil + 1].url + ')');
            }
        }
    }

    function buildMap(sx,sy) {

        $("#MapHolder").empty();
        $("#MapHolder_Walkables").empty();
        mapa= new Array(sy);
        CURRENT_MAPA_SOLIDS = new Array(sy);
        CURRENT_MAPA_CEIL = new Array(sy);
        for(var y=0;y<sy;y++){
            mapa[y] = new Array(sx);
            CURRENT_MAPA_SOLIDS[y] = new Array(sx);
            CURRENT_MAPA_CEIL[y] = new Array(sx);
            for(var x=0;x<sx;x++){
                mapa[y][x] = 0;
                CURRENT_MAPA_SOLIDS[y][x] = -1;
                CURRENT_MAPA_CEIL[y][x] = -1;
                $("#MapHolder").append(generateItemClickable(x,y,0));
                $("#MapHolder_Walkables").append(generateItemWalkable(x,y,0));
                $("#MapHolder_Solidos").append(generateItemSolid(x,y,-1));
                $("#MapHolder_SolidosCeil").append(generateItemSolidCeil(x,y,-1));
            }
        }
    }
    function InitWithData(p_mapa) {
        mapa = p_mapa;//{{ mapa }};
        var sy = mapa.length;
        var sx = mapa[0].length;
        $("#BuilderForm #sizeX").val(sx);
        $("#BuilderForm #sizeY").val(sy);
        $("#MapHolder").empty();
        $("#MapHolder_Walkables").empty();
        $("#MapHolder_Solidos").empty();
        for(var y=0;y<sy;y++){
            for(var x=0;x<sx;x++){
                $("#MapHolder_Walkables").append(generateItemWalkable(x,y,mapa[y][x]));
                $("#MapHolder_Solidos").append(generateItemSolid(x,y,CURRENT_MAPA_SOLIDS[y][x]));
                $("#MapHolder_SolidosCeil").append(generateItemSolidCeil(x,y,CURRENT_MAPA_CEIL[y][x]));
                $("#MapHolder").append(generateItemClickable(x,y,mapa[y][x]));
            }
        }
    }
    function generateItemClickable(x, y, tipo){
        var r = '<div id="tileClickable-'+x+'-'+y+'" class="Tile '
        r+='" style="' + 'left:'+(x*30)+'px;' + 'top:'+(y*30)+'px;"';
        r+= 'onclick="clickOn('+x+','+y+')">' + '</div>';
        return r;
    }
    function generateItemWalkable(x, y, tipo){
        var r = '<div id="tileWalkable-'+x+'-'+y+'" class="TileBase '
        r+='" style="' + 'left:'+(x*30)+'px;' + 'top:'+(y*30)+'px;';
        r+='background-color:'+WALKABLES_COLORS[(tipo+1)].colorId+';"'
        r+= '</div>';
        return r;
    }
    function generateItemSolid(x, y, tipo){
        var r = '<div id="tileSolid-'+x+'-'+y+'" class="TileBase '
        r+='" style="' + 'left:'+(x*30)+'px;' + 'top:'+(y*30)+'px;';
        if(tipo!=-1){
            r+='background-image:URL('+SOLIDS_URLS[(tipo+1)].url+');"';
        }else{
            r+='"';
        }
        r+= '</div>';
        return r;
    }
    function generateItemSolidCeil(x, y, tipo){
        var r = '<div id="tileSolidCeil-'+x+'-'+y+'" class="TileBase '
        r+='" style="' + 'left:'+(x*30)+'px;' + 'top:'+(y*30)+'px;';
        if(tipo!=-1){
            r+='background-image:URL('+SOLIDS_URLS[(tipo+1)].url+');"';
        }else{
            r+='"';
        }
        r+= '</div>';
        return r;
    }
    function selectWalkable(tipo) {
        SelectedWalkable=tipo-1;
        /*for(var i=0;i<2;i++){
            $("#brush"+i).removeClass("TileSelected")
        }*/
        $('[id*="walkable_brush"]').removeClass("TileSelected");
        $("#walkable_brush"+tipo).addClass("TileSelected");
    }
    function selectSolid(tipo) {
        SelectedSolid = tipo-1;
        $('[id*="solid_brush"]').removeClass("TileSelected");
        $("#solid_brush"+tipo).addClass("TileSelected");
    }
    function selectSolidCeil(tipo) {
        SelectedCeil = tipo-1;
        $('[id*="solidceil_brush"]').removeClass("TileSelected");
        $("#solidceil_brush"+tipo).addClass("TileSelected");
    }
    function saveMap() {
        if(STATUS == "DISABLED"){
            return;
        }
        var JSONmapa = JSON.stringify(mapa);
        var JSONmapaSolid = JSON.stringify(CURRENT_MAPA_SOLIDS);
        var JSONmapaSolidCeil = JSON.stringify(CURRENT_MAPA_CEIL);
        $.ajax({
            url : "mapeditor/savemap", // the endpoint
            type : "POST", // http method
            data : { 'mapa' : JSONmapa,
                'mapasolids' : JSONmapaSolid,
                'mapasolidsceil' : JSONmapaSolidCeil,
                'id':CURRENT_PK,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            }, // data sent with the post request

            // handle a successful response
            success : function(json) {
                //$('#post-text').val(''); // remove the value from the input
                console.log(json); // log the returned json to the console
                console.log("success"); // another sanity check
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                //$('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                //    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    }


    function loadMapaData(id){
        $.ajax({
            url : "mapeditor/loadmap", // the endpoint
            type : "POST", // http method
            data : { 'id' : id,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            }, // data sent with the post request

            // handle a successful response
            success : function(json) {
                //$('#post-text').val(''); // remove the value from the input
                console.log(json); // log the returned json to the console
                console.log("success"); // another sanity check
                if(json.result=="Loaded"){
                    CURRENT_PK = json.pk;
                    CURRENT_NAME = json.name;
                    CURRENT_MAPA_SOLIDS = $.parseJSON(json.mapasolids);
                    CURRENT_MAPA_CEIL = $.parseJSON(json.mapasolidsceil);
                    InitWithData($.parseJSON(json.mapa));
                    STATUS = "LOADED";
                }
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                //$('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                //    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    }
    function createMap() {
        var name = $("#NewMapName").val();
        if(name == "" || name == undefined){
            return;
        }
        var sy = 10;
        var sx = 10;
        var tmpmap= new Array(sy);
        var tmpmapSolids= new Array(sy);
        var tmpmapSolidsCeil= new Array(sy);
        for(var y=0;y<sy;y++){
            tmpmap[y] = new Array(sx);
            tmpmapSolids[y] = new Array(sx);
            tmpmapSolidsCeil[y] = new Array(sx);
            for(var x=0;x<sx;x++){
                tmpmap[y][x] = 0;
                tmpmapSolids[y][x] = -1;
                tmpmapSolidsCeil[y][x] = -1;
            }
        }
        var JSONmapa = JSON.stringify(tmpmap);
        var JSONmapaSolids = JSON.stringify(tmpmapSolids);
        var JSONmapaSolidsCeil = JSON.stringify(tmpmapSolidsCeil);
        $.ajax({
            url : "mapeditor/creamap", // the endpoint
            type : "POST", // http method
            data : { 'mapa' : JSONmapa,
                'mapasolids' : JSONmapaSolids,
                'mapasolidsceil' : JSONmapaSolidsCeil,
                'name':name,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            }, // data sent with the post request

            // handle a successful response
            success : function(json) {
                //$('#post-text').val(''); // remove the value from the input
                console.log(json); // log the returned json to the console
                console.log("success"); // another sanity check
                if(json.result=="Created"){
                    CURRENT_PK = json.pk;
                    CURRENT_NAME = json.name;
                    CURRENT_MAPA_SOLIDS = $.parseJSON(json.mapasolids);
                    CURRENT_MAPA_CEIL = $.parseJSON(json.mapasolidsceil);
                    InitWithData($.parseJSON(json.mapa));
                    STATUS = "LOADED";
                }
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                //$('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                //    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    }

    //InitWithData()
</script>
</body>
</html>